{% extends "base.html" %} 

{% block head_links %}
{% load static %}
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'style/modules/form.css' %}"
  />
{% endblock %}

{% block head_title %} Login {% endblock %} 

{% block main %}
<div class="form-cont">
  <form class="form" method="POST">
    {% csrf_token %}

    <div class="form-header">
      <h1 class="form-h1">Login</h1>
    </div>

    <div class="form-inp-cont">
      <label class="form-label" for="{{ form.username.id_for_label }}"
        >{{ form.username.label }}:
      </label>
      {{ form.username }} 
    </div>

    <div class="form-inp-cont">
      <label class="form-label" for="{{ form.password.id_for_label }}"
        >{{ form.password.label }}:
      </label>
      {{ form.password }} 
    </div>

    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <input type="submit" class="btn" value="Login" />
    <a href="{% url 'password_reset' %}">Reset password</a>
  </form>
</div>
{% endblock %}
