{% extends "base.html" %} 

{% block head_links %}
{% load static %}
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'style/modules/form.css' %}"
  />
{% endblock %}

{% block head_title %} Reset Password {% endblock %} 

{% block main %}
  <div class="form-cont">
    <form class="form" method="POST">
      {% csrf_token %}
  
      <div class="form-header">
        <h1 class="form-h1">Reset Password</h1>
      </div>
  
      {{ form.as_p }}
      <input class="btn" type="submit" value="Reset" />
    </form>
  </div>
{% endblock %}
