{% extends "base.html" %}
{% block head_title %} Reset form {% endblock %} 

{% block main %}
<main class="form-main">
  <form class="form" method="POST">
    {% csrf_token %}

    <div class="form-header">
      <h1 class="form-h1">Reset form</h1>
    </div>
    {% csrf_token %}

    <div class="form-inp-cont">
      <label class="form-label" for="{{ form.username.id_for_label }}"
        >{{ form.new_password1.label }}:
      </label>
      {{ form.new_password1 }} 
    </div>

    <div class="form-inp-cont">
      <label class="form-label" for="{{ form.username.id_for_label }}"
        >{{ form.new_password2.label }}:
      </label>
      {{ form.new_password2 }} 
    </div>

    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}


    <input class="form-submit" type="submit" value="Reset" />
  </form>
</main>
{% endblock %}
