/* #region products */
.products-header {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.products-h1 {
  margin-bottom: 16px;
  font-weight: 100;
  text-align: center;
}

.products-header-desc {
  color: #c8c8c8;
}

.products-header .btn {
  margin-top: 16px;
}

.products-no {
  text-align: center;
  font-size: 24px;
}

.products-grid {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.prods-img-cont {
  margin-bottom: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8e8e8;
  overflow: hidden;
}

.prods-img {
  width: 100%;
  font-size: 24px;
  transition: transform var(--trans-timing-fun) 400ms;
}

.prods-img-cont:hover .prods-img {
  transform: scale(0.9);
}

.prods-link {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 32px);
  height: 40px;
  border: none;
  background: #000;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  transition: transform var(--trans-timing-fun) 400ms,
    opacity var(--trans-timing-fun) 400ms;
}

.prods-img-cont:hover .prods-link {
  transform: translateY(0px);
  opacity: 1;
}

.prods-name {
  color: #888888;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
}

.prods-price {
  margin: 8px 0;
  font-size: 14px;
  font-weight: 600;
}

.prods-brand {
  margin: 16px 0;
  font-weight: 600;
}
/* #endregion products */

/* #region product details */
.prod-details {
  display: flex;
}

.prod-details .prods-img-cont {
  margin-right: 24px;
  width: 500px;
}

.prod-actions {
  display: flex;
  align-items: center;
}

.prod-info {
  margin: 24px 0;
  font-size: 20px;
}

.prod-info-price {
  font-weight: 600;
  font-size: 16px;
}

.prod-info-brand {
  font-style: italic;
  font-size: 16px;
}
/* #endregion product details */
