{% extends "base.html" %}

{% block head_title %}
  Product Details
{% endblock %}

{% block main %} 

{% if not product %}
<main class="main">
  <p class="main-no-prods">There is no product with this ID</p>
</main>
{% else %}
<main class="main main-details">
  <div class="main-prod-img-cont">
    <img class="main-prod-img" src="{{ product.image.url }}" alt="Image" />
  </div>

  <div>
    {% if product.brand %}
    <p class="main-prod-brand">{{ product.brand }}</p>
    {% endif %}
    <p class="main-prod-name">{{ product.title }}</p>
    {% if product.description %}
    <p class="main-prod-desc">{{ product.description }}</p>
    {% else %}
    <p class="main-prod-desc">No description for this product</p>
    {% endif %}
    <p class="main-prod-name">{{ product.price }}$</p>

    {% if user.is_superuser %}
    <div class="main-prod-actions">
      <a href="{% url 'product_edit' product.id %}" class="main-prod-edit"
        >Edit</a
      >
      <a href="{% url 'product_delete' product.id %}" class="main-prod-delete"
        >Delete</a
      >

    </div>
    {% endif %}
    <br />
    <a href="{% url 'add_to_cart' product_id=product.id %}"  class="main-prod-edit">Add to product</a>

  </div>
</main>
{% endif %}

{% endblock %}
