{% extends "base.html" %} 

{% block head_links %}
{% load static %}
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'style/modules/products.css' %}"
  />
{% endblock %}

{% block head_title %}
  All Products
{% endblock %}

{% block main %}
  <div class="products-header">
    <h1 class="products-h1">Featured Products</h1>
    <p class="products-header-desc">
      Refresh your lock with pieces of our winter collection
    </p>

    {% if user.is_superuser %}
    <a href="{% url 'product_add' %}" class="btn">Add Product</a>
    {% endif %}
  </div>

  {% if not products %}
    <p class="products-no">New products will be available soon</p>
  {% endif %}

  <div class="products-grid">
    {% for product in products %}
    <div class="product-cont">
      <div class="prods-img-cont">
        <img class="prods-img" src="{{ product.image.url }}" alt="Image" />
        <a href="{% url 'product_details' product.pk %}" class="prods-link"
          >DETAILS</a
        >
      </div>

      <p class="prods-name">{{ product.title }}</p>
      <p class="prods-price">{{ product.price }}</p>
    </div>
    {% endfor %}
  </div>
{% endblock %}
