<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}  
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/base.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/modules/shared.css' %}"
    />

    {% block head_links %} {% endblock %}

    <script defer src="{% static 'js/index.js' %}"></script>

    <title>{% block head_title %} Store {% endblock %}</title>
  </head>
  <body>
    <div class="root">
      <header class="header">
        <a href="{%url 'home'%}" class="header-title">S T O R E</a>
        <div class="header-links-cont">
          <object
            type="image/svg+xml"
            data="{% static 'assets/icons/cart.svg' %}"
            class="header-cart"
          >
            Cart Logo
          </object>

          <div class="header-links">
            {% if user.is_authenticated %}
            <p>Hi, {{ user.username }}</p>
            <a href="{% url 'logout' %}" class="btn btn-secondary">Log out</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn">Log in</a>
            <a href="{% url 'signup' %}" class="btn btn-secondary">Sign up</a>
            {% endif %}
          </div>
        </div>
      </header>

      <main class="main">{% block main %} {% endblock %}</main>

      <footer class="footer">
        <p>&copy; <span id="footer-year"></span> STORE All Right Reserved.</p>
      </footer>
    </div>
  </body>
</html>
