{% extends "base.html" %} 

{% block head_links %}
{% load static %}
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'style/modules/cart.css' %}"
  />
{% endblock %}

{% block head_title %}
  Cart
{% endblock %}


{% block main %}
    {% for product in products %}
    <li class="cart-item">
      <h2>{{ product.title | capfirst }}</h2>
      <h2>{{ product.price }}</h2>
      <a href="{% url 'remove_from_cart' product_id=product.id %}" class="btn btn-danger">Remove</a>
    </li>

    {% empty %}
    <p>No products yet.</p>

    {% endfor %}

    <br />
    <hr />
    <br />
    <a href="{% url 'products_list' %}"  class="btn">Add more Products</a>
    <br />
    <a href="{% url 'remove_all_from_cart' %}"  class="btn btn-danger">Clear cart</a>
    <br />
    <p>{{ total_price }}</p>
{% endblock %}